body {
    background-repeat: no-repeat;
    background-image: url("https://www.presentationmagazine.com/images3/businesslinescolours1024.jpg");
    background-position: center;
    background-size: cover;
    padding: 40px;
}

.crystals {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
}

div {
    background-image: url(Assets/Images/crystal1.jpeg), url(Assets/Images/crystal2.jpeg), url(Assets/Images/crystal3.jpeg), url(Assets/Images/crystal4.jpeg);
    background-repeat: no-repeat;
    background-size: 200px 200px;
}

.crystal {
    border: 1px solid blue;
    height: 200px;
    width: 200px;
}

#numberTotal {
    height:150px;
    width: 400px;
    border: 1px solid red;
}