.crystals {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
}

.crystal {
    border: 1px solid blue;
    height: 200px;
    width: 200px;
    background-image: url(Assets/Images/crystal1.jpeg), url(Assets/Images/crystal2.jpeg), url(Assets/Images/crystal3.jpeg), url(Assets/Images/crystal4.jpeg);
}

#numberTotal {
    height:150px;
    width: 400px;
    border: 1px solid red;
}